.post-image-options {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 2;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.post-image-options.active {
  visibility: visible;
  opacity: 1;
}

.post-image-options .list-inline {
  text-align: center;
  list-style: none;
  padding: 0;
  font-size: 25px;
}

.post-image-options .list-inline li {
  display: inline-block;
  padding-left: 10px;
  padding-bottom: 30px;
}

.post-image-options .list-inline li.first {
  padding-left: 0;
}

.post-image-options .list-inline li i {
  background-color: #C0B9A9;
  transition: transform .2s;
  cursor: pointer;
  color: #ffffff;
  position: relative;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  padding-top: 10px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.post-image-options .list-inline li i:hover{
  background-color: #424352;
}


.post-image-options .list-inline p {
  font-size: 12px;
  text-align: center;
  margin: 0;
  color: #C0B9A9;
}

.cd-product a{
  position: relative;
  font-size: 16px;
}

.cd-product .post-image-option-element p {
  top: 35px;
  left: -12px;
  width: 60px;
  position: absolute;
  display: inline-block;
}

.cd-close-info {
  visibility: hidden;
  margin: 0;
  padding: 0;
  line-height: 0;
  height: 0;
}

.post-image-option-button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    border: 1px solid rgba(232, 232, 232, 0.28);
    height: 34px;
    cursor: pointer;
    line-height: 34px;
    border-bottom-left-radius: 5px;
    font-size: 17px;
    text-align: center;
    background: #fff;
    outline: none;
}

.pin-rows-go-to-store {
    display: inline;
}

.wait-for-pin .pin-rows-go-to-store {
    display: none;
}

.pin-rows-edit-pin {
    display: none;
}

.wait-for-pin .pin-rows-edit-pin {
    display: inline;
}

.img-align-button.active i {
  background-color: #424352!important
}

.post-image-options .center-btn>ul{
  height: 70px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@media only screen and (max-width: 766px) {
  .pinnable-image-row .post-image-options .add-pin {
    display: none;
  }
}

.pinnable-image-row .add-pin-form .add-pin-form-valid {
    display: none;
    color: red;
}

.pinnable-image-row .add-pin-form .add-pin-form-valid.active {
  display: block;
}


.cd-more-info .remove-saved-pin{
  margin-left: 5px;
}

.img-caption[contenteditable=true]:empty:not(:focus):before {
  content: attr(placeholder);
  display: block; /* For Firefox */
}
